.top {
  background-color: #cacaca;
  display: flex;
  color: rgb(41, 41, 44);
  width: 100%;
  justify-content: center;
}

.top-container {
  width: 60rem;
  display: flex;
}
.profile-img {
  width: 400px;
  height: 400px;
}
.left-side {
  background-color: rgb(41, 41, 44);
  border-radius: 50%;
  margin-right: 2rem;
  margin-left: 1rem;
  width: 400px;
  height: 400px;
  margin: 2rem;
}
.right-side {
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 1rem;
  margin-right: 2rem;
}
.about-title {
  color: #cacaca;
  padding-left: 1rem;
  background-color: rgb(41, 41, 44);
}
.exp-title {
  color: rgb(41, 41, 44);

  background-color: #cacaca;
  font-size: 2rem;
  width: 100%;
  text-align: left;
  padding-left: 1rem;
}
.exp-subtitle {
  background-color: rgb(41, 41, 44);
}
.bottom {
  margin-top: 2rem;
}
.exp-container {
  margin: 2rem;
}

.exp {
  background-color: rgb(41, 41, 44);
  display: flex;
}
.exp-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-bottom: 1rem;
}
@media (max-width: 900px) {
  .top .top-container {
    display: grid;
    width: 30rem;
    justify-content: center;
  }
  .exp-grid {
    grid-template-columns: 1fr;
  }
}

.exp-ul {
  margin-left: 1rem;
}

.small-grid-unit {
  margin-right: 1rem;
}

.experience-type {
}
.sub-subtitle {
  font-size: 1.5rem;
  width: 80%;
  border-bottom: 1px solid #cacaca;
}

.list-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
}
.grid-list-item {
  font-size: 1.25rem;
  margin-right: 1rem;
}
@media (max-width: 900px) {
  .top .top-container {
    display: grid;
    width: 30rem;
    justify-content: center;
  }
  .exp-grid {
    grid-template-columns: 1fr;
  }
  .list-grid {
    grid-template-columns: 1fr;
  }
}
