.about {
  margin-top: 5rem;
}

.top {
  background-color: var(--color2);
  display: flex;
  color: var(--color1);
  width: 100%;
  justify-content: center;
}

.top-container {
  width: 60rem;
  justify-content: center;
  display: flex;
}
.profile-img {
  width: 400px;
  height: 400px;
}
.left-side {
  background-color: var(--color1);
  border-radius: 50%;
  margin-right: 2rem;
  margin-left: 1rem;
  width: 400px;
  height: 400px;
  margin: 2rem;
}
.right-side {
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 1rem;
  margin-right: 2rem;
}
.about-title {
  color: var(--color2);
  padding-left: 1rem;
  background-color: var(--color1);
}
.exp-title {
  color: var(--headingcolor);

  background-color: var(--color2);
  font-size: 2rem;
  width: 100%;
  text-align: left;
  padding-left: 1rem;
}
.exp-subtitle {
  background-color: var(--color1);
}
.text {
  font-size: 1.5rem;
}
.bottom {
  margin-top: 2rem;
}
.exp-container {
  margin: 2rem;
}

.exp {
  background-color: var(--color1);
  display: flex;
}
.exp-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-bottom: 1rem;
}

.exp-ul {
  margin-left: 1rem;
}

.small-grid-unit {
  margin-right: 1rem;
}

.experience-type {
}
.sub-subtitle {
  font-size: 1.5rem;
  width: 80%;
  border-bottom: 1px solid var(--color2);
}

.list-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
}
.grid-list-item {
  font-size: 1.25rem;
  margin-right: 1rem;
}
@media (max-width: 900px) {
  .top .top-container {
    display:grid;
    width: 100%;
    justify-items: center;
    margin-top:1rem;
  }
  .top-container {
    margin: 0rem;
    padding: 0rem;

  }
  .list-grid {
    grid-template-columns: 1fr;
  }

  .exp-grid {
    grid-template-columns: 1fr;
  }
  .profile-img {
    width: 350px;
    height: 350px;
  }
  .left-side {
    background-color: none;
    justify-content: center;

    margin-top: 1rem;
    display: grid;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    
  }
  .right-side {
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 0rem;
    padding: 0rem;
    width: 100%
  }
  .grid-list-item {
    font-size: 1.25rem;
    margin-right: 0rem;
  }
  .text {
    width: 275;
    font-size: 1.2rem;
  }
  .about-title {
    color: var(--color2);
    padding-left: 1rem;
    background-color: var(--color1);
    width: 100%;
    padding: none;
    margin: none
  }
}
