:root {
  /* light theme */
  /* 
  --color1: rgb(209, 209, 209);
  --color2: rgb(54, 54, 54);
  --color3: rgb(255, 215, 169); 
  --color4: rgb(37, 37, 37); 
  --color5: rgb(218, 218, 218); 
  --headingcolor: rgb(226, 226, 226);
  --subheadingcolor: rgb(41, 41, 41);
  --linkcolor: rgb(0, 95, 184); */

  /* dark theme */

  --color1: rgb(32, 32, 32);
  --color2: rgb(202, 202, 202);
  --color3: rgb(68, 68, 68);
  --color4: rgb(0, 0, 0);
  --headingcolor: rgb(0, 0, 0);
  --subheadingcolor: rgb(192, 192, 192);
  --linkcolor: rgb(0, 255, 255);
}

* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color1);
  color: var(--color2);
}
.text {
  font-size: 1.5rem;
}
.App {
  margin: 0;
  padding: 0;
}

.flx {
  display: flex;
}
.small-pad {
  padding: 0.5rem;
}
.medium-pad {
  padding: 1rem;
}
.small-padtop{
  padding-top: 1rem;
}
.med-margin{
  margin:1rem;
}
.smallpad-left{
 padding-left: .5rem;
}
.center {
  justify-content: center;
  text-align: center;
  align-items: center;
  vertical-align: center;
}
.title-wrapper {
  background-color: var(--color2);
  text-align: center;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.title-dark {
  font-size: 3rem;
  color: var(--color1);
  font-weight: bold;
}

.title {
  font-size: 2rem;
  font-weight: bold;
}
.subtitle {
  font-size: 1.25rem;
  font-weight: bold;
}
.sub-subtitle {
  font-weight: bold;
}
.atag {
  text-decoration: none;
  color: var(--linkcolor);
}
.light-gray-back {
  background-color: var(--color2);
}
.spacer-container {
  margin-top: 5rem;
  border-top: 1px solid rgba(0, 0, 0, 0);
}
/* MENU ====================== */
.menu-bar {
  display: flex;
  width: 100%;
  margin: 0;
  justify-content: center;
  position: fixed;
  background-color: var(--color1);
  color: var(--color5);
  z-index: 10;
}
.list {
  display: flex;
  justify-content: space-between;
  width: 50%;
  list-style: none;
  margin: 0;
  /* padding: 1rem; */
  margin: 1rem;
}
.list-item {
  transition-duration: 750ms;
}

.list-item:hover {
  cursor: pointer;
}
.link-item {
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0.5rem;
  color: var(--color5);
  font-weight: bold;
  transition-duration: 750ms;
  border: 1px solid var(--color2);
}
.link-item:hover {
  color: var(--color2);
  background-color: var(--color5);
  padding: 1rem;
}

.flex-menu-item {
  font-size: 2rem;
  text-align: center;
}
.flex-menu {
  display: flex;
}

.link {
  color: var(--color2);
  text-decoration: none;
}

/* IMAGES ======================== */
.logo {
  width: 200px;
  height: 200px;
}

/* HOME */
.home {
  padding-top: 5rem;
}
.home-container {
  min-height: 80rem;
}
.banner {
  justify-content: center;
  text-align: center;

  background-color: var(--color1);
  color: var(--color2);
  margin: 3rem 0 3rem 0;
  padding: 1rem;

  transition: all 1200ms;
}
.banner:hover {
  transition: all 1200ms;
  background-color: var(--color2);
  color: var(--color1);
}
.blot {
  margin: 1rem;
  padding: 2rem;
  transition: all 500ms;
  border-radius: 50%;
}
.blot:hover {
  transition: all 500ms;
  /* background-color: var(--color4); */

  /* border-radius: 50%; */
}
.blot-main {
  margin: 1rem;
  padding: 1rem;
  transition: all 500ms;
}
.blot-main:hover {
  transition: all 500ms;
  background: var(--color4);
  border-radius: 50%;
}
.img-back {
  /* background-color: none;
  transition: all 500ms; */
}
/* .img-back:hover {
  background-color: black;
  transition: all 500ms;
} */

/* FORMS */
.form {
  margin: 1rem;
  padding: 1rem;
  background-color: var(--color1);
}
.contact-form {
  display: flex;
  justify-content: center;
}
.form-control {
  justify-content: center;
  background-color: var(--color1);
  width: 30rem;
}
.form-field {
  width: 20rem;
  border: none;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  background-color: var(--color1);
  border-bottom: 1px solid gray;
  color: var(--color2);
}
.form-msg-field {
  width: 20rem;
  border: none;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  background-color: var(--color1);
  border-bottom: 1px solid gray;
  color: var(--color2);
  padding: 0.5rem;
}
.form-msg-field::placeholder {
  padding: 0.5rem;
}
.label-container {
  display: flex;
  vertical-align: center;

  width: 7rem;
  color: var(--color2);
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  background-color: var(--color1);
  padding-left: 1rem;
  padding-top: 0.5rem;
}
.form-subtitle {
  vertical-align: center;
}
.form-btn {
  display: flex;
  justify-content: flex-end;
  border: none;
  background-color: var(--color1);
}

.btn {
  padding: 0.5rem;
  color: var(--color2);
  background-color: var(--color1);
  cursor: pointer;
  border: 1px solid gray;
  margin-right: 1rem;
  transition: all, 500ms;
}
.btn:hover {
  transition: all, 500ms;
  color: var(--color1);
  background-color: var(--color2);
}

/* CONTACT */
.contact {
  background-color: var(--color2);
  padding-bottom: 1rem;
}
.contact-container {
  display: flex;
  justify-content: center;
}

.contact-methods {
  background-color: var(--color1);
  margin: 1rem;
  padding: 1rem;
}
/* .contact-info:hover {
  transition: all, 500ms;
  background-color: rgb(51, 51, 51);
} */

.contact-info {
  display: flex;
  justify-content: center;
  padding: 1rem;
  font-size: 1.25rem;
}
.contact-type {
  color: var(--color2);
  width: 5rem;
  font-size: 1.5rem;
}
.link-wrapper {
}
.contact-link {
  color: var(--linkcolor);
  padding: 1rem;
  font-size: 1.5rem;
}
.icon-style:hover {
  color: rgb(0, 255, 157);
}

.resume-container {
  display: flex;
  justify-content: center;
}
.resume {
  margin-bottom: 5rem;
}
.resume-link {
  background-color: rgba(0, 0, 0, 0);
  color: var(--color2);
  padding: 0.5rem;
  border: 1px solid var(--color2);
  margin: 0 2rem 2rem 2rem;
  font-size: 1.5rem;
  transition: all 500ms;
}
.resume-link:hover {
  cursor: pointer;
  transition: all 500ms;
  padding: 1rem;
}

@media (max-width: 1200px) {
  .flex-menu {
    display: grid;
  }
  .contact-container {
    display: grid;
  }
  .menu-bar {
    display: grid;
  }
  .resume-doc{
    width: 600px;
    height: 900px;
  }
}
