

.projects {
  margin-top:5rem;
  min-height:75rem;

}
.projects-title-wrapper {
  text-align: center;
}
.projects-title {
  color: var(--color3);
  background-color: var(--headingcolor);
  padding: 1rem;
  margin: 1rem 0;
}
.main-heading{
  font-size: 3rem;
  color: var(--headingcolor);
  font-weight: bold;
}
.project-title {
  font-size: 1.5rem;
  background-color: var(--subheadingcolor);
  padding-left: 1rem;
  font-weight: bold;
}

.card-container {
  color: var(--color3);
  width: 25rem;
}
.project-img {
  width: 25rem;
  height: auto;
  background-color: var(--color3);
}
.img-container {
  background-color: var(--color2);
}

.info-block {
  background-color: var(--color3);
  color: var(--color2);
  /* display: grid; */
  grid-template-columns: 1.5fr 3fr;
  border: 1px solid var(--color3);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
 
}

.info-subtitle {
  font-weight: bold;
  padding-left: 0.5rem;
 
}
.info-text {
  padding-left: .5rem;
  font-size: 1.25rem
  
}
.projects-container {
  display: flex;
  justify-content: center;
}

.project-card {
  margin: 1rem;
}
.a-link {
  color: var(--linkcolor);
}

.green-box{
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem;
  padding: 1rem;
  background-color: green;
}

.blank{
  display: none;
}

.box {
  display: none
}

.box-enter {
  display: grid;
  opacity: 0;
}
.box-enter-active {
  opacity: 1;
  display: grid;
  transition: all 900ms;
}
.box-enter-done {
  display: grid;
  opacity: 1;
}

.box-exit {
  display: grid;
  opacity: 1;
}
.box-exit-active {
  display: grid;
  transition: all 900ms;
  opacity: 0;
}
.box-exit-done {
  opacity: 0;
  background-color: yellow;
  display: none
}


@media (max-width: 1700px) {
  .projects-container  {
    display: grid;
    grid-template-columns:1fr 1fr;
    justify-items: center;
  }
  .box {
    display: grid;
    opacity:1
  }

}
@media (max-width: 1400px) {
  .projects-container  {
    display: grid;
    grid-template-columns:1fr;
    justify-items: center;

  }
  .box {
    display: grid;
    opacity:1
  }
}