* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(41, 41, 44);
  color: #cacaca;
}
.app {
  margin: 0;
  padding: 0;
}

.flx {
  display: flex;
}
.small-pad {
  padding: 0.5rem;
}
.medium-pad {
  padding: 1rem;
}
.center {
  justify-content: center;
  text-align: center;
  align-items: center;
  vertical-align: center;
}
.title-wrapper {
  background-color: #cacaca;
  text-align: center;
  padding: 0.5rem;
}
.title-dark {
  font-size: 3rem;
  color: rgb(53, 53, 53);
  font-weight: bold;
}

.banner {
  justify-content: center;
  text-align: center;
}
.title {
  font-size: 2rem;
  font-weight: bold;
}
.subtitle {
  font-size: 1.25rem;
  font-weight: bold;
}
.subsubtitle {
  font-weight: bold;
}
.atag {
  text-decoration: none;
  color: rgb(19, 64, 161);
}

/* MENU ====================== */
.menu-bar {
  display: flex;
  width: 100%;
  margin: 0;
  justify-content: center;
}
.list {
  display: flex;
  justify-content: space-between;
  width: 50%;
  list-style: none;
  margin: 0;
  padding: 1rem;
}
.list-item {
  transition-duration: 750ms;
  padding: 0.5rem;
}

.list-item:hover {
}
.link-item {
  text-decoration: none;
  font-size: 1.5rem;
  width: 75px;
  padding: 0rem 1rem 0.5rem 1rem;
  color: #cacaca;
  font-weight: bold;
  transition-duration: 750ms;
  border: 1px solid #cacaca;
}
.link-item:hover {
  color: rgb(53, 53, 53);
  background-color: rgb(206, 206, 206);
  padding: 1rem;
}

.flex-menu-item {
  font-size: 2rem;
  text-align: center;
}

.link {
  color: #cacaca;
  text-decoration: none;
}

/* IMAGES ======================== */
.logo {
  width: 200px;
  height: 200px;
}

/* HOME */
.banner {
  margin: 3rem;
  padding: 1rem;
  background-color: #3f3f3f;
  transition: all 900ms;
}
.banner:hover {
  transition: all 900ms;
  background-color: #444444;
}
.blot {
  margin: 1rem;
  padding: 1rem;
  transition: all 900ms;
}
.blot:hover {
  transition: all 900ms;
  background-color: rgb(41, 41, 44);
  border-radius: 50%;
}
.blot-main {
  margin: 1rem;
  padding: 1rem;
  transition: all 900ms;
}
.blot-main:hover {
  transition: all 900ms;
  background: rgb(19, 64, 161);
  border-radius: 50%;
}
.img-back {
  background-color: none;
  transition: all 900ms;
}
.img-back:hover {
  background-color: rgb(19, 64, 161);
  transition: all 900ms;
}

/* FORMS */
.form{
  margin: 1rem;
  padding: 1rem;
  background-color: rgb(53, 53, 53)
}
.contact-form {
  display: flex;
  justify-content: center;
  margin: 1rem;
  
}
.form-control {
  justify-content: center;
  background-color: rgb(53, 53, 53);
  width: 30rem;
}
.form-field {
  width: 20rem;
  border: none;
  padding: .5rem;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  background-color: rgb(53, 53, 53);
  border-bottom: 1px solid gray;
  color: #cacaca;
}
.form-msg-field {
  width: 20rem;
  border: none;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  background-color: rgb(53, 53, 53);
  border-bottom: 1px solid gray;
  color: #cacaca;
  padding: .5rem;
}
.form-msg-field::placeholder{
  padding: .5rem;
 
}
.label-container {
  display:flex;
  vertical-align: center;

  width: 7rem;
  color: #cacaca;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  background-color: rgb(53, 53, 53);
  /* border-bottom: 1px solid gray; */
  padding-left: 1rem;
  padding-top: .5rem;

}
.form-subtitle{
  vertical-align: center;
}
.form-btn {
  display: flex;
  justify-content: flex-end;
  border: none;
  background-color: rgb(53, 53, 53)
}

.btn {
  padding: 0.5rem;
  color: #cacaca;
  background-color: rgb(53, 53, 53);
  cursor: pointer;
  border: 1px solid gray;
  margin-right: 1rem;
  transition: all, 500ms;
}
.btn:hover{
  transition: all, 500ms;
  color: rgb(53, 53, 53);
  background-color: #cacaca;
}

/* CONTACT */
.contact-info{
  border: 1px solid red;
  display: flex;
  justify-content: center;
}
.contact-type:{
  font-weight: normal;
}