body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  background-color: rgb(41, 41, 44);
  color: #cacaca
}

.flx{
  display: flex
}
.small-pad{
  padding: .5rem;
}
.center{
  justify-content: center;
  text-align: center;
  align-items: center;
  vertical-align: center;
}

.banner{
  justify-content: center;
  text-align: center
}


/* MENU ====================== */
.menu-bar{
  display: flex;
  padding: 1rem;
  padding: 0;
  width: 100%;
  margin: 0;
  justify-content: center;
  /* background-color:rgb(1, 31, 77); */
}
.list{
  display: flex;
  justify-content: space-between;
  width: 50%;
  list-style: none;
  /* background-color:rgb(1, 31, 77); */
  margin: 0;
  
  margin-right: 2rem;
}
.list-item{
  /* background-color:rgb(1, 31, 77); */
  transition-duration: 750ms;
  padding: .5rem;
  
}


.list-item:hover{
  /* margin: 1rem 0;
  border: none;
  color: rgb(53, 53, 53);
  background-color:rgb(206, 206, 206);
  padding: 1rem .5rem; */
}
 .link-item{
  text-decoration: none;
  font-size: 1.5rem;
  width: 75px;
  padding: 0rem 1rem 0rem 1rem;
  color: #cacaca;
  font-weight: bold;
  transition-duration: 750ms;
  border: 1px solid #cacaca
}
.link-item:hover{
  color: rgb(53, 53, 53);
  background-color:rgb(206, 206, 206);
  padding: 1rem .5rem;
  margin: 1rem 0;
  border: none;
  color: rgb(53, 53, 53);
  background-color:rgb(206, 206, 206);
  padding: 1rem ;
} 


.flex-menu-item {
font-size:2rem;
text-align: center;
}

.link{
  color: #cacaca;
  text-decoration: none;

}
.link:hover{


}

/* IMAGES ======================== */
.logo {
  width:200px;
  height: 200px;
}
