body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  background-color: rgb(1, 31, 77);
  color: #cacaca
}

.flx{
  display: flex
}
.small-pad{
  padding: .5rem;
}
.center{
  justify-content: center;
  text-align: center;
  align-items: center;
  vertical-align: center;
}

.banner{
  justify-content: center;
  text-align: center
}


/* MENU ====================== */
.menu-bar{
  display: flex;
  padding: 1rem;
  padding: 0;
  width: 100%;
  margin: 0;
  background-color: rgb(216, 182, 28);
}
.list{
  display: flex;
  justify-content: space-between;
  width: 100%;
  list-style: none;
  background-color: rgb(216, 182, 28);
  margin: 0;
}
.list-item{
  background-color:rgb(216, 182, 28);
  transition-duration: 750ms;
}


.list-item:hover{
  margin: 1rem 0
}
 .link-item{
  text-decoration: none;
  font-size: 1.5rem;
  width: 75px;
  padding: 0rem 1rem 0rem 1rem;
  color: rgb(1, 31, 77);
  font-weight: bold;
  transition-duration: 750ms;
}
.link-item:hover{
  color: rgb(216, 182, 28);
  background-color:rgb(1, 31, 77);
  padding: 1rem .5rem;
} 


.flex-menu-item {
font-size:2rem;
text-align: center;

border: 1px solid red;
}

.link{
  color: #cacaca;
  text-decoration: none;

}
.link:hover{
  color: rgb(216, 182, 28);

}

/* IMAGES ======================== */
.logo {
  width:200px;
  height: 200px;
}